.section {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    padding: 20px;
    background-color: black;
    border: 1px solid #FFA500;
    color: white;
}

.cta-buttoncontainer {
    display: flex;
    justify-content: space-evenly;
}

.cta-button {
    text-decoration: none;
    color: white;
    background-color: var(--primary-color1);
    margin: 5px;
    padding: 10px;
    text-align: center;
}

.map {
    max-width: 300px;
}

.map iframe {
    width: 100%;
}

.img-container {
    display: flex;
    justify-content: center;
}

.img-container img {
    width: 100%;
    max-width: 90px;
    height: auto;
    margin: 5px;
}


.figure-container img, iframe, video, .normal img  {
    width:100%;
    max-width: 400px;
    height: auto;
}

.figure-container {
    grid-template-columns: 1fr; /* 1 column */
}

.hidden {
    display: none;
}
