:root {
    --primary-green: #00270f; /* Green */
    --primary-red: #751b15; /* Red */
    --accent-white: #FFFFFF; /* White for highlights */
    --background-color: #f0f0f0; /* Light background */
    --text-color: #333; /* Dark text color */
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px; /* Default font size for larger screens */
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: var(--primary-red);
    color: var(--accent-white);
    padding: 2em;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}


main{
    padding: 1em;
}

.data p, .weather p {
    margin-bottom: 15px; /* Space between paragraphs */
    letter-spacing: 1px; /* Space between letters */
    line-height: 1.5; /* Space between lines */
}

.weather-icon {
    display: none; /* Hide by default */
}

.hero {
    position: relative;
    width: 100%;
    height: auto; /* Or 100vh for larger screens */
}

.responsive-img {
    width: 100%; /* Full width of the container */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure the image covers the area */
}



.data h2, .weather h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-green); /* Green background */
    color: var(--accent-white); /* Change text color to white for contrast */
    padding: 10px; /* Add some padding */
}

footer {
    background-color: var(--primary-red);
    color: var(--accent-white);
    text-align: center;
    padding: 1em;
}

/* Media queries */
@media (max-width: 600px) {
    .data, .weather {
    text-align: center;
    }

    .weather-icon {
        display: inline-block; /* Show mobile SVG icon */
    }
    
}

@media (min-width: 601px) {
    .container {
        max-width: 1800px;
        margin: auto;
    }

    body {
        font-size: 16px; /* Default font size for larger screens */
    }

    .hero {
        max-width: 100%;
        min-width: 601px;
        height: auto; /* Full height for larger screens */
    }

    .data {
        position: absolute;
        top: 30%; /* Adjust as needed */
        left: 5%; /* Adjust as needed */
        background-color: rgba(255, 255, 255, 0.904); /* Semi-transparent background for better visibility */
        padding: 20px;
        border-radius: 5px;
        width: 300px;
        height: 400px;
        text-align: center;
    }

    .weather {
        position: absolute; /* Absolute positioning */
        bottom: 1%; /* Distance from the bottom of the hero */
        left: 83%; /* Distance from the left of the hero */
        background-color: rgba(255, 255, 255, 0.904); /* Semi-transparent background for readability */
        padding: 20px; /* Padding for the content */
        border-radius: 5px; /* Rounded corners */
    }


    .weather-icon {
        display: none; /* Hide mobile icon in wider view */
    }
    .weather h2::after {
        content: '☀️'; /* Hide icon for mobile if necessary */
    }

}
