:root {
    --primary-color: #d5e7f3cc;
    --secondary-color: #3B6F91;
    --accent1-color: #193F58;
    --accent2-color: #21455E;

    --heading-font: 'Roboto', sans-serif;
    --heading-font-weight: 500;
    --paragraph-font: 'Roboto', sans-serif;
    --paragraph-font-weight: 400;

    --nav-background-color: black;
    --nav-link-color: white;
    --nav-hover-background-color: #0066FF;
    --nav-hover-link-color: #EFEFEF;

}

body {
    font-family: var(--paragraph-font);
    font-weight: var(--paragraph-font-weight);
}

p{
    font-family: var(--paragraph-font);
    font-weight: var(--paragraph-font-weight);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    font-weight: var(--heading-font-weight);
    font-size: 2em;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: white;
}

header {
    background-color: var(--accent1-color);
    color: white;
    padding: 1em;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--nav-background-color);
}
nav a {
    color: white;
    text-decoration: none;
    
    padding: 10px;
}


nav a:hover {
    background-color: var(--nav-hover-background-color); /* Change background on hover */

}

#hamburger {
    background: none;
    border: none;
    color: white;
    font-size: 2em;
    cursor: pointer;
    display: block;
}

#nav-menu {
    display: none; /* Hidden by default */
    list-style-type: none;
    padding: 0;
}

#nav-menu li {
    margin: 0.5em 0;
}

#nav-menu a {
    color: white;
    text-decoration: none;
}

main {
    max-width: 600px;
    margin: 2em auto;
    padding: 1em;
}

figure {
    margin: 0;
    text-align: center;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: var(--accent1-color);
    color: white;
}
